
  <!--header-->
  <header class="main-header clearfix" role="header" >
    <div >
      <a href="https://www.ieee.org/" >IEEE.org | </a>
      <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" > IEEE Xplore |  </a>
      <a href="https://standards.ieee.org/" > IEEE SA | </a>
      <a href="https://spectrum.ieee.org/" > IEEE Spectrum |  </a>
      <a href="https://www.ieee.org/sitemap.html" > More sites</a>
  
      <div style="float: right;">
        
        <a routerLink="signup">Sign up</a>
        <a routerLink="login">Log in</a>
      </div>
    </div>
    <div class="logo">
      <a routerLink="">IEEE FUE</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a routerLink="section1">Home</a></li>
        <li ><a routerLink="aboutus" >About Us</a> </li>
        <li><a routerLink="Committees">Committees</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a routerLink="events" >Events</a></li>
        
        <li><a routerLink="contactus">Contact us</a></li>
       <li><a routerLink="joinus" >Join Us</a></li> 
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>