<section class="section why-us" data-section="section8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Board Members</h2>
        </div>
      </div>
      <div class="col-md-12">
        <!-- ---------chairman Members--------- -->

        <div id='tabs'>
          <ul>
            <li><a routerLink='#tabs-1'>Chairman & Vice chair</a></li>
            <li><a routerLink='#tabs-2'>Head of committees</a></li>
            <!-- <li><a href='#tabs-3'>Headeres of WEEE</a></li> -->
            <li><a  routerLink='#tabs-4'>website Admins</a></li>
          </ul>
          <section class='tabs-content'>
            <article id='tabs-1'>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/chairman.jpeg" class="img-fluid rounded-start" alt="chairman">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Mohammed Abdelgayed</h5>
                          <p class="card-text">Chairman of IEEE FUE</p>
                          <a href="https://www.linkedin.com/in/m-abdelgayed" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:mohamedgayed9@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/me.jpeg" class="img-fluid rounded-start" alt="Vice-Chairman">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Nada Radwan</h5>
                          <p class="card-text">Vice-Chairman</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>

         <!-- ---------head committees Members--------- -->

            <article id='tabs-2'>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/pr.jpeg" class="img-fluid rounded-start" alt="pr">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Zienab Abdelrahman</h5>
                          <p class="card-text">Head of Public Relation</p>
                          <a href="https://www.linkedin.com/in/zienab-abdelrahman-b64355246" class="p-3">
                            <i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:Zienab.abdelrahman.2001@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/robocub.jpeg" class="img-fluid rounded-start" alt="rc">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Hagar Sameh</h5>
                          <p class="card-text">Head of Roboclub</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/codersclub.jpeg" class="img-fluid rounded-start" alt="cc">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Nada Mohammed</h5>
                          <p class="card-text">Head of CodersClub</p>
                          <a href="https://www.linkedin.com/in/nada-shoaib-156a33232" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:nadashoaib212@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/hr.jpeg" class="img-fluid rounded-start" alt="hr">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Ali</h5>
                          <p class="card-text">Head of Human Resources</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/ai.jpeg" class="img-fluid rounded-start" alt="ai">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Abdallah Hesham</h5>
                          <p class="card-text">Head of AI and robotics</p>
                          <a href="mailto:Abdallah.ibn.hesham98@gmail.com" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:Abdallah.ibn.hesham98@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="col-sm-6">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="assets/images/ic.jpeg" class="img-fluid rounded-start" alt="media">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Hamdy Sherif</h5>
                            <p class="card-text">head of Integrated Circuits</p>
                            <a href="https://www.linkedin.com/in/hamdy-elshehaby-a1b415153/" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                            <a href="mailto:hamdyshehaby@ieee.org" ><i class="uil uil-envelope fa-lg"></i> </a> 
                         </div>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/me.jpeg" class="img-fluid rounded-start" alt="media">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Daniel</h5>
                          <p class="card-text">Head of Media</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/me.jpeg" class="img-fluid rounded-start" alt="org">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Noor</h5>
                          <p class="card-text">Head of Organization</p>
                          <a href="#" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="#" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>

            <!-- <article id='tabs-3'>
              
            </article> -->

            <article id='tabs-4'>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/me.jpeg" class="img-fluid rounded-start" alt="nada">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Nada Radwan</h5>
                          <p class="card-text">IEEE Member</p>
                          <a href="https://www.linkedin.com/in/nada-radwan-497920219" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:nadaradwantahaali2001@outlook.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/pr.jpeg" class="img-fluid rounded-start" alt="pr">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Zienab Abdelrahman</h5>
                          <p class="card-text">Head of Public Relation</p>
                          <a href="https://www.linkedin.com/in/zienab-abdelrahman-b64355246" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:Zienab.abdelrahman.2001@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/somaia.jpeg" class="img-fluid rounded-start" alt="somaia">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Somia Saber</h5>
                          <p class="card-text">FUE Student</p>
                          <a href="https://www.linkedin.com/in/somia-saber-6b942524a" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:arwaaaaaaa20000@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/images/hudaa.jpeg" class="img-fluid rounded-start" alt="huda">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Hoda Ashraf</h5>
                          <p class="card-text">FUE Student</p>
                          <a href="https://www.linkedin.com/in/hoda-ashraf-73296a216" class="p-3"><i class="uil uil-linkedin-alt fa-lg"></i></a>
                          <a href="mailto:hodashrafff@gmail.com" ><i class="uil uil-envelope fa-lg"></i> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
            </article>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>