<!-- --------- Abouts us -------- -->
<section class="section why-us" data-section="aboutsus">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Us</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div >
            
            <section class='tabs-content'>
                <div class="row">
                  
                  <div class="col-md-6"> 
                    
                        
                    <img src="assets/images/Public Relation Icon.jpg"  alt="">
                  
                       </div>
                      

                    
                 
                  <div class="col-md-6">
                    <h3 style="color:aliceblue; font-weight: bold">What we are ?</h3>
                    <h6 style="color:aliceblue">•IEEE FUE branch is located in Cairo, Egypt.<BR>
                       •It was first formed in 2019 by its first president Engineer Alaa Eldin Safwat <br>
                       •IEEE FUE is the largest branch in Egypt and it’s represented by more than 100 members.<br>
                       •It consists of two main committees; technical and non-technical.</h6>
                  </div>
                </div>
              
             
            </section>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  <router-outlet></router-outlet>