<!-- <h1>ck: {{courseName}}</h1> -->
<!-- Eventbinding -->
<!-- <button (click)="greeting()">Click here</button> -->
<!-- Two Way binding -->
<!-- <input type="text" [(ngModel)]="courseName"> -->
<app-header></app-header>
  <!-- <app-home></app-home> 
 <app-login></app-login>
<app-aboutus></app-aboutus>
<app-committies></app-committies>
<app-events></app-events>
<app-joinus></app-joinus>
<app-boardus></app-boardus>
<app-contactus></app-contactus>   -->
<!-- <app-joinus></app-joinus> -->
<app-footer></app-footer>

