<!-- ***** Main Banner Area Start ***** -->
 <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
          <h4 class="text-white">Seeking for professional development <br> and education activities</h4>
            <div class="main-button">
                <div class="scroll-to-section" ><a routerLink="joinus" >Join Us</a></div>
            </div>
        </div>
    </div>
</section> 
<!-- ***** Main Banner Area End ***** -->


 <section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="uil uil-shield"></i>Brief on our branch</h4>
           </div>
            <div class="content-hide">
              <p>IEEE FUE branch is located in Cairo, Egypt. <br>It was first formed in 2019 by its first president Engineer....</p>
              <p class="hidden-sm">IEEE FUE branch is located in Cairo, Egypt.</p>
                  <div class="scroll-to-section"><a  routerLink="aboutsus">More Info.</a></div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="fa fa-graduation-cap"></i>Committees</h4>
            </div>
            <div class="content-hide">
              <p>Responsible for advancing the building of global technologies, understanding how computing, engineering, and technology benefit humanity,
                 which promote the visibility of engineering, computing, and technology.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
              <div class="scroll-to-section"><a  routerLink="Committees">Details</a></div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <h4><i class="uil uil-clipboard-alt"></i>Board members</h4>
            </div>
            <div class="content-hide">
              <p>Members of ieee focuses on increasing progress, knowledge, new technologies, development and utilize skills for further work.</p>
              <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>
              <div class="scroll-to-section"><a  routerLink="boardus">More Info</a></div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 

<router-outlet></router-outlet>